<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Latest Posts</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Education</span>
          </a>
          <a href="javascript:" (click)="scrollTo('home')">
            <img src="assets/images/blog/1.svg" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="javascript:">Best Instruments to start kids with</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">09 February, 2020</li>
            <li class="list-inline-item">Mr. Sean</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Tutorial</span>
          </a>
          <a href="javascript:" (click)="scrollTo('home')">
            <img src="assets/images/blog/2.svg" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="javascript:">DIY insturments you can make at home</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">07 February, 2020</li>
            <li class="list-inline-item">Mr. Sean</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">Animals</span>
          </a>
          <a href="javascript:" (click)="scrollTo('home')">
            <img src="assets/images/blog/3.svg" alt="blog-title" />
          </a>
        </div>
        <div class="details">
            <h4 class="my-0 title"><a href="javascript:">Best songs to play for your pet</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">06 February, 2020</li>
            <li class="list-inline-item">Mr. Sean</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
